<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/tabview/assets/skins/night/tabview.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/datatable/assets/skins/night/datatable.css">
<div id="scrollview-container">
	<div id="scrollview-content" class="yui3-scrollview-loading">
		<ul>
			<% @selected_trail_photos.each do |photo| %>
			<li><img src= '<%= photo.thumbnail_url %>'>
			</li>
			<% end %>

		</ul>
	</div>

	<script><%= yield %>
	YUI().use('scrollview', function(Y) {
		// Constraining the width, instead of the height for horizontal scrolling
		var scrollView = new Y.ScrollView({
			id : 'scrollview',
			srcNode : '#scrollview-content',
			width : window.innerWidth - 100,
			flick : {
				minDistance : 10,
				minVelocity : 0.3,
				axis : "x"
			}
		});

		scrollView.render();

		// Prevent the image from being natively dragged
		content.delegate("mousedown", function(e) {
			e.preventDefault();
		}, "img");
	});
	</script>
</div>
